@import "./src/input.css";

html,
body {
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: 'Eagle Lake', cursive;
  line-height: 1.3;
}

h1 {
  font-size: 3rem;
  line-height: 1;
}

section {
  padding: 1rem;
}
