@import "./src/input.css";

html,
body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, h4, nav, #splashScreen{
  font-family: 'Eagle Lake', cursive;
  line-height: 1.3;
}

h1 {
  font-size: 3rem;
  line-height: 1;
}

section {
  padding: 1rem;
}

#textSlider #text2{
  -webkit-text-stroke: 2px white
}
